<div class="ui stackable centered grid mt-12">
  <div class="four wide column">
    <div class="ui huge teal center aligned header">
      <div class="content">
        <i class="home icon"></i>
        Log in to your account
      </div>
    </div>
    <%= form_for :session, url: login_path, html: {class: "ui large form"} do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <%= f.email_field :email, placeholder: "E-mail address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>
        <%= f.submit "Log in", class: "ui fluid large teal submit button" %>
      </div>
    <% end %>
    <div class="ui message center">
      New to us? <%= link_to 'Sign up', signup_path %>
    </div>
  </div>
</div>