<!-- Log In -->
<section class="sec contact" id="signUp">
  <div class="content">
    <div class="contactForm">
      <%= form_for :session, url: login_path do |f| %>
        <div class="row100">
          <div class="inputBx100">
            <%= f.email_field :email, placeholder: "E-mail address" %>
          </div>
        </div>
        <div class="row100">
          <div class="inputBx100">
            <%= f.password_field :password, placeholder: "Password", autocomplete: 'off' %>
          </div>
        </div>
        <div class="row100">
          <div class="inputBx100">
            <%= f.submit "Log in"%>
          </div>
        </div>
      <% end %>
    </div>
    <p class="form-comment">
      New to us? <%= link_to 'Sign up', signup_path %>
    </p>
  </div>
</section>