<% obj.each do |article| %>
<div class="item">
  <div class="ui large header">
    <%= gravatar_for article.user %>
    <div class="content">
      <%= link_to article.title, article_path(article), class: "under-line" %>
      <div class="sub header wide">
        By <%= link_to article.user.username, user_path(article.user), class: "sub-color" %>&nbsp;&nbsp;
        <i class="clock icon"></i><%= time_ago_in_words(article.updated_at) %> ago&nbsp;&nbsp;
        <% if article.categories.any? %>
          <%= render article.categories %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>