<!-- UI Kit -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>

<!-- Codemirror and marked dependencies -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/markdown/markdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/addon/mode/overlay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/xml/xml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/gfm/gfm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>

<!-- HTML editor CSS and JavaScript -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/htmleditor.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/components/htmleditor.js"></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/solarized-dark.min.css"
/>

<section class="sec" id="post">
  <div class="post-editor">
    <%= form_for @article, html: {class: "editor-form"} do |f| %>
      <div class="editor-content">
        <div class="editor-title ui input">
          <%= f.text_field :title, placeholder: "Title" %>
        </div>
        <div class="editor-tag">
          <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Select Category"}, {multiple: true,
          class: "ui fluid dropdown"}) %>
        </div>
        <div class="editor-body">
          <textarea name="article[description]" data-uk-htmleditor="{markdown:true}"><%= @article.description if @article.description %></textarea>
        </div>
      </div>
      <%= render 'shared/errors', obj: @article %>
      <div class="editor-footer">
        <%= button_tag @article.new_record? ? 'Post' : 'Update' %>
      </div>
    <% end %>
  </div>
</section>

<script>
$(function () {
  marked.setOptions({
    langPrefix: '',
    highlight: function (code, lang) {
      return hljs.highlightAuto(code, [lang]).value
    }
  });
  $('#markdown_editor_textarea').keyup(function () {
    var html = marked($(this).val());
    $('#markdown_preview').html(html);
  });
});
</script>