<div class="ui stackable centered grid">
  <div class="fourteen wide column">
    <div class="ui attached message">
    <div class="ui large header">
      Let's write a new Article!
    </div>
    </div>
    <%= form_for @article, html: {class: "ui huge form attached fluid segment"} do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title of article" %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area(:description, rows: "20", placeholder: "Body of article") %>
      </div>
      <%= f.submit class: "ui blue large submit button" %>
    <% end %>
  </div>
</div>
 
  
