<section class="sec" id="showArticle">
  <div class="sh-atc">
    <div class="sh-atc-header">
      <div class="u-flex-center-between">
        <div class="header-info">
          <div class="header-author">
            <%= gravatar_for @article.user %>
            <%= link_to @article.user.username, user_path(@article.user), class: "header-author-name" %>
          </div>
          <div class="header-time">Updated at <%= @article.updated_at.strftime('%Y/%m/%d') %></div>
        </div>
      </div>
      <h1 class="sh-header-title"><%= @article.title %></h1>
      <% if @article.categories.any? %>
        <div class="sh-tags">
          <% @article.categories.each do |category| %>
            <%= link_to category.name ,category_path(category), class: "sh-tags-item" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="sh-atc-body">
      <%= markdown(@article.description).html_safe %>
    </div>
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <div class="sh-atc-footer">
        <div class="atc-actions">
          <div class="atc-edit">
            <%= link_to edit_article_path(@article), class: "edit-link", data: {"turbolinks" => false} do %>
              <span>Edit</span>
            <% end %>
          </div>
          <div class="atc-delete">
            <a href="javascript:void(0)" class="delete-link" id="delete_article_btn">
              <span>Delete</span>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<!-- delete confirm Modal-->
<div class="ui basic modal" id="articleModal">
  <div class="ui icon header">
    <i class="trash alternate icon"></i>
    Delete Article
  </div>
  <div class="content">
    <p>Are you sure you want to delete this article?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <%= link_to article_path(@article), method: :delete, class: "ui green ok inverted button" do %>
      <i class="checkmark icon"></i>
      Yes
    <% end %>
  </div>
</div>