<div class="ui stackable centered grid">
  <div class="ten wide left aligned column">
    <div class="ui very padded segment">
      <h4 class="ui header">
        <i class="user circle icon"></i>
        <div class="content">
          <%= @article.user.username %>
          <div class="sub header">
          Updated at &nbsp;<%= @article.updated_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </h4>
      <p></p>
      <div class="ui huge header"><%= @article.title %></div>
      <p></p>
      <div class="ui clearing divider"></div>
      <%= markdown(@article.description).html_safe %>
    </div>
  </div>
  <div class="two wide column">
    <%= render 'shared/categories' %>
  </div>
</div>
