<script>
  window.addEventListener('scroll', () => {
  if($('#home').length) {
    const header = document.querySelector('header');
    header.classList.toggle('sticky', window.scrollY > 0);
  }
});
</script>

<!-- Header -->
<header id="header">
  <%= link_to "MY NOTE", logged_in? ? articles_path : root_path, class: "logo" %>
  <div class="search-form">
    <%= search_form_for @search, url: search_path do |f| %>
      <div class="ui icon input">
        <%= f.text_field :title_or_description_cont ,placeholder: "Search" %>
        <i class="search icon"></i>
        <%= f.submit id: "search", style: "display: none" %>
      </div>
    <% end %>
  </div>
  <ul>
      <li><a href="#articles">Articles</a></li>
      <li><%= link_to 'Log In', login_path %></li>
      <li><a href="#signUp">Sign Up</a></li>
  </ul>
  <div class="toggle"></div>
</header>

<!-- Banner -->
<section class="banner" id="home">
  <h2>Wise <span>beyond</span><br />your years</h2>
</section>

<!-- Recent Articles -->
<section class="sec" id="articles">
  <div class="article-list">
    <div class="list-header">
      <i class="clock outline icon"></i>
      <div class="header-title">
        Recent Articles
      </div>
    </div>
    <div class="article-list-view">
      <%= render 'articles/article', obj: @articles %>
    </div>
  </div>
  <%= render 'shared/categories', obj: @categories %>
</section>

<!-- Sign Up -->
<section class="sec contact" id="signUp">
  <div class="content">
    <div class="mxw800p">
      <h3>Sign Up</h3>
      <p>
        Let's start to use our services!
      </p>
    </div>
    <%= render 'users/form' %>
    <p class="form-comment">
      Already have an account? <%= link_to 'Log in', login_path %>
    </p>
  </div>
</section>