<section class="sec" id="articles">
  <div class="article-list">
    <div class="list-header">
      <i class="tag icon"></i>
      <% if logged_in? and current_user.admin? %>
        <div class="ctg-name">
          <%= link_to @category.name, edit_category_path(@category) %>
        </div>
      <% else %>
        <%= @category.name%>
      <% end %>
    </div>
    <div class="article-list-view">
      <%= render 'articles/article', obj: @category_articles %>
      <div class="pagination">
        <%= will_paginate @category_articles,
          renderer: WillPaginateSemanticUi::ActionView::Renderer,
          inner_window: 1, outer_window: 0 %>
      </div>
    </div>
  </div>
  <%= render 'shared/categories', obj: @categories %>
</section>